<% provide(:title, "Dasboard") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | WatchTower Dashboard</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This will be the main Dashboard view. 
    </p>
  </body>
</html>
